<a href="https://colab.research.google.com/github/2003A52069/2216115-AIML_BOOTCAMP-VIJAY-/blob/main/ASSIGNMENT_1_AIML_BOOTCAMP_(2216115_VIJAY).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples

In [ ]:

my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)


my_string = """Hello, welcome to
           SR UNIVERSITY"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           SR UNIVERSITY

In [ ]:
 
str = 'VIJAYVELE'
print('str = ', str)


print('str[0] = ', str[0])


print('str[-1] = ', str[-1])


print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])

str =  VIJAYVELE
str[0] =  V
str[-1] =  E
str[1:5] =  IJAY
str[5:-2] =  VE

In [ ]:

str1 = 'Hello'
str2 ='World!'


print('str1 + str2 = ', str1 + str2)
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [ ]:
my_string=" amazon great indian festival "
print(my_string.upper())
print(my_string.lower())
print(my_string.swapcase())
print(my_string.title())
print(my_string.capitalize())
string5="  it was raining yesturday "
print(string5.strip())
print(string5.lstrip())
print(string5.rstrip())

 AMAZON GREAT INDIAN FESTIVAL
 amazon great indian festival
 AMAZON GREAT INDIAN FESTIVAL
 Amazon Great Indian Festival
 amazon great indian festival
it was raining yesturday
it was raining yesturday
  it was raining yesturday

2.Implement the methods of List with examples.

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e']

print(my_list[0])  


print(my_list[2])  


print(my_list[4])

a
c
e

In [ ]:

my_list = ['a','b','c','d','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
a

In [ ]:


my_list = ['v','i','j','a','y','c','h','a','n']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['j', 'a', 'y']
['c', 'h', 'a', 'n']
['v', 'i', 'j', 'a', 'y', 'c', 'h', 'a', 'n']

In [ ]:

odd = [1, 3, 5]

odd.append(9)

print(odd)

odd.extend([11, 13, 15])

print(odd)

[1, 3, 5, 9]
[1, 3, 5, 9, 11, 13, 15]

In [ ]:

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["sru"] * 3)

[1, 3, 5, 9, 7, 5]
['sru', 'sru', 'sru']

In [ ]:

odd = [1, 9]
odd.insert(1,3)

print(odd)

[1, 3, 9]

In [ ]:

my_list = ['v', 'i', 'j', 'a', 'y', 'c', 'h']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['v', 'i', 'a', 'y', 'c', 'h']
['v', 'h']

In [ ]:
my_list = ['v','i','j','a','y','c','h']
my_list.remove('v')


print(my_list)

print(my_list.pop(1))


print(my_list)


print(my_list.pop())


print(my_list)

my_list.clear()
print(my_list)

['i', 'j', 'a', 'y', 'c', 'h']
j
['i', 'a', 'y', 'c', 'h']
h
['i', 'a', 'y', 'c']
[]

3.Implement the methods of Tuple with examples.

In [ ]:



v_tuple = ()
print(v_tuple)


v_tuple = (1, 2, 3)
print(v_tuple)


v_tuple = (1, "Hye", 5.4)
print(v_tuple)


v_tuple = ("pizza", [8, 4, 6], (1, 2, 3))
print(v_tuple)

()
(1, 2, 3)
(1, 'Hye', 5.4)
('pizza', [8, 4, 6], (1, 2, 3))

In [ ]:

v_tuple = ('v','i','j','a','y','c')

print(v_tuple[0])

v

In [ ]:

v_tuple = ('v','i','j','a','y','c')


print(v_tuple[-1])


print(v_tuple[-6])

c
v

In [ ]:
v_tuple = ('v','i','j','a','y','c')


print(v_tuple.count('i'))  
print(v_tuple.index('v'))

1
0

In [ ]:

v_tuple =('v','i','j','a','y','c') 

del v_tuple

4.Implement the methods of Dictionary with examples.

In [ ]:

my_dict = {'name': 'vijay', 'age': 20}


print(my_dict['name'])


print(my_dict.get('age'))


print(my_dict.get('address'))

vijay
20
None

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'vijay', 'age': 39}

my_dict['age'] = 56

print(my_dict)


my_dict['address'] = 'nzb'


print(my_dict)

{'name': 'vijay', 'age': 56}
{'name': 'vijay', 'age': 56, 'address': 'nzb'}

In [ ]:
dict={'name':'vijay','branch':'CSE(AIML)','year':2,'address':'nzb','college':'SR'}
print(dict['name'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))
dict['firstname']='veleti' #add iteam
print(dict)
dict['college']='SRU' #update value
print(dict)
dict.pop('address') #remove particular item
print(dict)
dict.popitem() #remove an item from last
print(dict)
dict.clear() # clear enter dict
print(dict)

vijay
dict_keys(['name', 'branch', 'year', 'address', 'college'])
dict_values(['vijay', 'CSE(AIML)', 2, 'nzb', 'SR'])
vijay
{'name': 'vijay', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'nzb', 'college': 'SR', 'firstname': 'veleti'}
{'name': 'vijay', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'nzb', 'college': 'SRU', 'firstname': 'veleti'}
{'name': 'vijay', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU', 'firstname': 'veleti'}
{'name': 'vijay', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU'}
{}

5.Implement the methods of Set with examples.

In [ ]:
set1={10,20,30,40,50,60,70,80,90,100}
set2={10,9,7,8,6,5,1,3,2,4}
set1.add(11)
print(set1)
set1.update([12,13,14])
print(set1)
set1.discard(14)
print(set1)
set1.remove(40)
print(set1)
set1.copy()
print(set1)
set1.difference()
print(set1)
print(set1)
#union
print(set1.union(set2))
#intersection
print(set1.intersection(set2))
#difference
print(set1-set2)
print(set2-set1)
set1.pop()
print(set1)

{100, 70, 40, 10, 11, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 11, 12, 13, 14, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{100, 70, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{100, 70, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{100, 70, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{100, 70, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{1, 2, 3, 4, 5, 70, 6, 7, 8, 10, 11, 12, 13, 9, 80, 20, 90, 30, 100, 50, 60}
{10}
{100, 70, 11, 12, 13, 80, 50, 20, 90, 60, 30}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{70, 10, 11, 12, 13, 80, 50, 20, 90, 60, 30}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method

In [ ]:
print(bin(30))
print(oct(30))
print(hex(30))

0b11110
0o36
0x1e

7.Implement Arithmetic operators with examples.

In [ ]:
A=30
B=15
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)
print(A**B)
print(A//B)

45
15
450
2.0
0
14348907000000000000000
2

8.Implement Assignment operators with examples.

In [ ]:
a=100
b=50
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c=2
c%=a
print(c)
c**=a
print(c)
c//=a
print(c)

150
250
150
15000
150.0
2
1267650600228229401496703205376
12676506002282294014967032053

9.Implement Comparison operators with examples.

In [ ]:
a=46
b=56
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

10.Implement Logical operators with examples

In [ ]:
a='true'
b='flase'
print(a and b)
print(a or b)
print(not a)
print(not b)

flase
true
False
False

11.Implement Bitwise operators with examples

In [ ]:
a=120
b=100
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

96
28
124
-121
30
480

12.Implement Membership operators with examples.

In [ ]:
a=[1,2,3,4]
b={'car',6,7,5,'c'}
print(6 in a)
print('hi' in b)
print(3 in a)
print('b' not in b)

False
False
True
True

13.Implement Identity operators with examples

In [ ]:
a=100
b=200
x='car'
y='bike'
print(a is b)
print(a is not b)
print(x is y)
print(x is not y)

False
True
False
True

14.demonstrate Negative indexing for List and apply slicing

In [ ]:
list=[1,6.0,2,3.5,10,20,56,5,1.4]
print(list[-1])
print(list[-4])
print(list[-9:-1])
print(list[-9::])
print(list[::-1])
print(list[::])
print(list[-9::5])

1.4
20
[1, 6.0, 2, 3.5, 10, 20, 56, 5]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1.4, 5, 56, 20, 10, 3.5, 2, 6.0, 1]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1, 20]

15.Predict the output for the given code snippet and justify the result.

In [31]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
#[::-1] reverse the whole string and [4::3] reads the string from index 4 and indexjump to the value 3
print("-------------------------")
print('Welcome to python training program'[3:10][::-1])
#[3:10] it starts from 3index and stops at 10index  [::-1]the it will reverse the string

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

16.Write a python code to get desired output
Input string:p_phrase="was it a car or a cat I saw"
Output string: WAS I TAC A RO RAC A TI SAW

In [ ]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

17.You are required to generate a word similar to ZOO, X and Y that denote 
the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
Input X= 2 Output ZZOOOO 
Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
x=int(input("Enter a value"))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a value5
x= 5
y= 10
ZZZZZOOOOOOOOOO