<a href="https://colab.research.google.com/github/2003A52069/2216115-AIML_BOOTCAMP-VIJAY-/blob/main/ASSIGNMENT_1_AIML_BOOTCAMP_(2216115_VIJAY).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples

In [2]:

my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)


my_string = """Hello, welcome to
           SR UNIVERSITY"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           SR UNIVERSITY

In [3]:
 
str = 'VIJAYVELE'
print('str = ', str)


print('str[0] = ', str[0])


print('str[-1] = ', str[-1])


print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])

str =  VIJAYVELE
str[0] =  V
str[-1] =  E
str[1:5] =  IJAY
str[5:-2] =  VE

In [7]:

str1 = 'Hello'
str2 ='World!'


print('str1 + str2 = ', str1 + str2)
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [9]:
my_string=" amazon great indian festival "
print(my_string.upper())
print(my_string.lower())
print(my_string.swapcase())
print(my_string.title())
print(my_string.capitalize())
string5="  it was raining yesturday "
print(string5.strip())
print(string5.lstrip())
print(string5.rstrip())

 AMAZON GREAT INDIAN FESTIVAL
 amazon great indian festival
 AMAZON GREAT INDIAN FESTIVAL
 Amazon Great Indian Festival
 amazon great indian festival
it was raining yesturday
it was raining yesturday
  it was raining yesturday

2.Implement the methods of List with examples.

In [12]:
my_list = ['a', 'b', 'c', 'd', 'e']

print(my_list[0])  


print(my_list[2])  


print(my_list[4])

a
c
e

In [14]:

my_list = ['a','b','c','d','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
a

In [15]:


my_list = ['v','i','j','a','y','c','h','a','n']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['j', 'a', 'y']
['c', 'h', 'a', 'n']
['v', 'i', 'j', 'a', 'y', 'c', 'h', 'a', 'n']

In [16]:

odd = [1, 3, 5]

odd.append(9)

print(odd)

odd.extend([11, 13, 15])

print(odd)

[1, 3, 5, 9]
[1, 3, 5, 9, 11, 13, 15]

In [17]:

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["sru"] * 3)

[1, 3, 5, 9, 7, 5]
['sru', 'sru', 'sru']

In [18]:

odd = [1, 9]
odd.insert(1,3)

print(odd)

[1, 3, 9]

In [20]:

my_list = ['v', 'i', 'j', 'a', 'y', 'c', 'h']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['v', 'i', 'a', 'y', 'c', 'h']
['v', 'h']

In [22]:
my_list = ['v','i','j','a','y','c','h']
my_list.remove('v')


print(my_list)

print(my_list.pop(1))


print(my_list)


print(my_list.pop())


print(my_list)

my_list.clear()
print(my_list)

['i', 'j', 'a', 'y', 'c', 'h']
j
['i', 'a', 'y', 'c', 'h']
h
['i', 'a', 'y', 'c']
[]

3.Implement the methods of Tuple with examples.

In [25]:



v_tuple = ()
print(v_tuple)


v_tuple = (1, 2, 3)
print(v_tuple)


v_tuple = (1, "Hye", 5.4)
print(v_tuple)


v_tuple = ("pizza", [8, 4, 6], (1, 2, 3))
print(v_tuple)

()
(1, 2, 3)
(1, 'Hye', 5.4)
('pizza', [8, 4, 6], (1, 2, 3))

In [26]:

v_tuple = ('v','i','j','a','y','c')

print(v_tuple[0])

v

In [27]:

v_tuple = ('v','i','j','a','y','c')


print(v_tuple[-1])


print(v_tuple[-6])

c
v

In [29]:
v_tuple = ('v','i','j','a','y','c')


print(v_tuple.count('i'))  
print(v_tuple.index('v'))

1
0

In [32]:

v_tuple =('v','i','j','a','y','c') 

del v_tuple