<a href="https://colab.research.google.com/github/2003A52069/2216115-AIML_BOOTCAMP-VIJAY-/blob/main/day_2_(bootcamp_aiml).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


num = 3
if num > 0:
    print(" positive number.")


num1 = -1
if num >0:
    print(num1," negative number.")

 positive number.
-1  negative number.

In [ ]:

num = int(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 4
Positive number

In [ ]:

num = 389
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

In [ ]:

numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
for val in numbers:
    sum = sum+val
print("The sum is", sum)

The sum is 48

In [ ]:
fruits=['apple','banana','grapes']
for index in range(len(fruits)):
  print('current fruits:',fruits[index])

current fruits: apple
current fruits: banana
current fruits: grapes

In [ ]:
#while
count=0
while(count<11):
  print('the count is',count)
  count=count+1

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10

In [ ]:


counter = 0

while counter < 1:
    print("less than 1")
    counter = counter + 1
else:
    print("greater than 1")

less than 1
greater than 1

In [ ]:
#nested loops
x=[[12,7,3],
   [4,5,6],
   [7,8,9]]

y=[[5,8,1],[1,1,0],[5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
 for j in range(len(x[0])):
       res[i][j]=x[i][j]+y[i][j]
       for r in res:
         print(r)

[17, 0, 0]
[0, 0, 0]
[0, 0, 0]
[17, 15, 0]
[0, 0, 0]
[0, 0, 0]
[17, 15, 4]
[0, 0, 0]
[0, 0, 0]
[17, 15, 4]
[5, 0, 0]
[0, 0, 0]
[17, 15, 4]
[5, 6, 0]
[0, 0, 0]
[17, 15, 4]
[5, 6, 6]
[0, 0, 0]
[17, 15, 4]
[5, 6, 6]
[12, 0, 0]
[17, 15, 4]
[5, 6, 6]
[12, 11, 0]
[17, 15, 4]
[5, 6, 6]
[12, 11, 16]

In [ ]:
#nested loops
x=[[12,7,3],
   [4,5,6],
   [7,8,9]]

y=[[5,8,1],[1,1,0],[5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
 for j in range(len(x[0])):
       res[i][j]=x[i][j]-y[i][j]
       for r in res:
         print(r)

[7, 0, 0]
[0, 0, 0]
[0, 0, 0]
[7, -1, 0]
[0, 0, 0]
[0, 0, 0]
[7, -1, 2]
[0, 0, 0]
[0, 0, 0]
[7, -1, 2]
[3, 0, 0]
[0, 0, 0]
[7, -1, 2]
[3, 4, 0]
[0, 0, 0]
[7, -1, 2]
[3, 4, 6]
[0, 0, 0]
[7, -1, 2]
[3, 4, 6]
[2, 0, 0]
[7, -1, 2]
[3, 4, 6]
[2, 5, 0]
[7, -1, 2]
[3, 4, 6]
[2, 5, 2]

In [ ]:
for i in range(1,11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

In [ ]:
num=int(input("enter the table numbers"))
i=1
while(i<=num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i} * {j}={i*j}")
    j=j+1
    print("_________________________")
    i=i+1

enter the table numbers10
table 1
1 * 1=1
_________________________
2 * 2=4
_________________________
3 * 3=9
_________________________
4 * 4=16
_________________________
5 * 5=25
_________________________
6 * 6=36
_________________________
7 * 7=49
_________________________
8 * 8=64
_________________________
9 * 9=81
_________________________
10 * 10=100
_________________________

In [ ]:
#control statments 
# break

for l in 'python':
  if l == 'h':
    break
    print("curren letter:",l)

In [ ]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:171
The number is palindrome!

In [ ]:
marks = int(input("Enter your marks : "))

if marks >= 90:
    print("Grade: O")
elif marks >= 80 and marks < 90:
    print("Grade: A+")
elif marks >= 70 and marks < 80:
    print("Grade: A")
elif marks >= 60 and marks < 70:
    print("Grade: B")
else:
    print("Grade: c")

Enter your marks : 20
Grade: c

In [ ]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

In [55]:
1+1

2

In [53]:
def greet(name):
  '''this function greets'''
  print("Hello,\t"+name+"\tgood morning")
  greet("srk")

In [57]:
def A(a,b=1,c=2):
 return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [62]:
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,oranges=20,Grapes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'oranges': 20, 'Grapes': 30}

In [65]:
def add_num(*n):
print(n)
print(sum(n))

add_num(5,11)

IndentationError: ignored

In [74]:
def shout(text):
  return text.upper()

  def whisper(text):
    return text.lower()

    def explain(func):
      greet=func("Hi,i am higher")
 print(greet)

  explain(shout)
  explain(whisper)

IndentationError: ignored

In [77]:
#lambda
def incr(x):
  x=x+1
  return x
  print(incr(4))
  print((lambda x:x+1)(4))
  res=lambda x+x+1
  print(res(4))

SyntaxError: ignored

In [ ]:
#modules
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/ content/hi")

In [86]:
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [87]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [90]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

28
3
1

In [91]:
#time module

import time
print(time.time())
print(time.asctime())
print(time.ctime())

1655201674.56891
Tue Jun 14 10:14:34 2022
Tue Jun 14 10:14:34 2022

In [94]:
#random module
import random
print(random.randrage(1,50))
print(random.randint(1,100))
print(random.random())

AttributeError: ignored

In [ ]:
import random
g_num=random.randint(0,5)
g2_num=int(intput("enter a number"))
if g2_num==